.input_container {
  height: 28px;
  border: 1px solid #dddfe1;
  border-radius: 8px;
  display: block;
  box-shadow: inset 0px 0px .8px gray;
  padding: 0 5px;
  cursor: pointer;
  /* 设置汉字之间的间距使用的是letter-spacing */
  letter-spacing: .2px;
  color: gray;
  /* 去掉input默认的选中之后的高亮样式 */
  outline: none;
}

.input_container :hover {
  cursor: pointer;
}

/* 在这里替代input元素在默认获得焦点时的样式 */

.input_container:focus {
  border-width: .8px;
}

.input_radius {
  border-radius: 8px 8px 2px 2px;
}

.dropdown_container {
  border: none;
  box-shadow: inset 0px 0px 2px gray;
  margin-top: 1.1px;
  border-radius: 2px;
  display: none;
  background-color: white;
}

.dropdown_item {
  font-size: 13.5px;
  padding: 0 5px;
  line-height: 35px;
  cursor: pointer;
  margin-top: 2px;
  color: gray;
  border-radius: 2px;
}

.dropdown_item:hover {
  background: #AAAEEB;
  color: white;
}

/* 初始化代码 */

li {
  margin-left: -3px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, legend, button form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}