.searchComponent {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background: yellow;
    vertical-align: middle;
}

.searchContainer {
    height: 100%
}

.searchInput {
    width: 75%;
    height: 35px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: none;
    border-radius: 3px
}

.searchButton {
    display: inline-block;
    border: none;
    height: 33px;
    width: 18%;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    background: #ff0000;
    color: white;
}