a:hover {
  background-color: #a2c9f9;
  color: white !important;
}
.custom-border-dark {
  border-top: 1px solid #262729 !important;
}
.left-panel {
  background-color: #fff;
}
.custom-font,
.custom-font a {
  font-family: "Noto Serif SC", serif;
}

/*自定义滚动条  */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: gray;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  background-color: white;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: #c6def7;
}

.custom-first-level {
  font-size: 0.9rem;
}
.custom-small-font {
  font-size: 0.75rem !important;
}

.custom-light-border {
  border-top: 1px dotted;
  border-color: #eaeaea !important;
}
.custom-light-panel-bg {
  background-color: #e8eef3;
}

.custom-purple-font {
  color: #5774c7;
}

.custom-link:hover {
  background-color: #a2c9f9;
}
.custom-gray-border {
  border-top: 1px solid gray;
}
