a:hover {
  background-color: #1890ff;
  color: white !important;
}
.custom-border-dark {
  border-top: 1px solid #262729 !important;
}
.left-panel {
  background-color: #333;
}
.left-panel a {
  font-family: "Noto Serif SC", serif;
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: gray;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height:10px;
  background-color: white;
}

.custom-first-level{
  font-size:.9rem;
}